.login-container {
  margin: 9% auto auto auto;
}

.trybetunes{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

form {
  font: 95% Arial, Helvetica, sans-serif;
	max-width: 400px;
	margin: 10px auto;
	padding: 25px;
	background: #e0dddd;
}

.input-login {
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	background: #fff;
	margin-bottom: 4%;
	border: 1px solid #ccc;
	padding: 3%;
	color: #555;
	font: 95% Arial, Helvetica, sans-serif;
}

.input-login:focus {
  box-shadow: 0 0 5px #43D1AF;
	padding: 3%;
	border: 1px solid #43D1AF;
}

.btn-login {
	background: rgb(67, 209, 175);
  box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border-bottom: 2px rgb(48, 194, 158);
	border-style: none none solid;
	color: rgb(253, 253, 253);
	padding: 3%;
	width: 100%;
}

.btn-login:hover {
  cursor: pointer;
}
