.article-cards {
  align-content: space-around;
  align-items: flex-start;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

a {
  color: #555;
  text-decoration: none;
}

a:hover {
  color: rgb(59, 58, 58);
  text-decoration: underline;
}

.album-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  height: 350px;
  margin: 20px;
  padding: 0px 0px 16px;
  transition: 0.3s;
  width: 170px;
}

.album-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container-card {
  display: flex;
  flex-direction: column;
  padding: 2% 16%;
  text-align: center;
}

.nothing-found {
  color: rgb(67, 209, 175);
	font: 95% Arial, Helvetica, sans-serif;
	font-size: 18px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 600px) {
  .article-cards {
    align-items: center;
    flex-flow: column;
    justify-content: space-evenly;
  }

  .album-card {
    width: 250px;
  }
}