.header-component {
  border-bottom: 1px solid rgb(26, 88, 74);
  position: relative;
  top:0;
  width: 100%;
}

ul {
  background: rgb(67, 209, 175);
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

li p {
  color: whitesmoke;
}

li a {
  color: whitesmoke;
  display: block;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(48, 194, 158);
}

.username-header {
  color: rgb(235, 217, 217);
}
