.header-component {
  border-bottom: 1px solid rgb(26, 88, 74);
  position: relative;
  top:0;
  width: 100%;
}

.navigation-links {
  display: flex;
  justify-content: space-around;
  background: rgb(67, 209, 175);
}

ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

li p {
  color: whitesmoke;
}

li a {
  color: whitesmoke;
  display: block;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(48, 194, 158);
}

.username-header {
  color: rgb(235, 217, 217);
  margin-right: 20px;
}

.menu-mobile {
  display: none;
}

@media screen and (max-width: 600px) {
  .menu-mobile {
    display: block;
  }

  ul {
    background-color: rgb(48, 194, 158);
    border-top: 2px solid rgb(26, 88, 74);
    display: flex;
    flex-direction: column;
    left: 0;
    position: absolute;
    top: 51px;
  }
}