.music-card {
  margin: 20px;
  background-color: rgb(26, 88, 74);
  color: rgb(255, 242, 242);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 10px 8px rgb(0, 0, 0), 5px 10px 8px rgb(26, 88, 74);
  max-width: 310px;
}
